.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mainWrap {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

